@charset "utf-8";
body {
    font: 14pt Verdana;
    font-size: 2ex;
    text-align:center;
    background-image: url('fondo2.jpg');
    /*background-color:E9A597;*/
    background-size:cover;
    background-position:50%;
}
.body{
display:flex;
    justify-content: center;
    align-items: center;
}
.title{
    font-weight:bold;
    font-size:2em;
    margin: auto;
    padding: 0;
    display:block;
    text-align:center;
    float:top;
}
.posicion1{
/*margin-left:50px;
margin-right:25px;
margin-top:30px;
width:auto;
float:center;
border:#000000 4px solid;
*/
background-color: orange;
}
#canvas{
    padding: 0;
    margin: auto;
    /*display: block;*/
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border:#000000 4px solid;
}
.info{
    position:relative;
    float:right;
    padding:10px;
}

.boton {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-size: 120% auto;
  background-image: linear-gradient(315deg, #833ab4 0%, #fd1d1d 50%, #fcb045);
}
.boton {
  background-position: right center;
}
.boton {
  top: 2px;
}
.boton2 {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-size: 120% auto;
    background-image: linear-gradient(315deg,#dd4a3a 0%,#832db5 50%, #acb445);
}
.boton2 {
    background-position: right center;
}
.boton2 {
    top: 2px;
}
.creditos {
    float:bottom;
    text-align:justify;
}
